<div class="page"  id="{%id%}">
    <div class="page-meta">
        <h3 class="page-name title"><span class="page-emoji {%emoji_display%}">{%emoji%}&nbsp;</span>{%name%}</h3>
        <small class="page-url url {%url_display%}"><a href="{%url%}" target="_blank">({%url%})</a><br></small>
        <small class="page-rating rating {%rating_display%}">评分: {%rating%}<br></small>
        <small class="page-annotation annotation {%annotation_display%}">注释: {%annotation%}<br></small>
    </div>
    <div class="page-content content">{%content%}
        <small class="page-url url {%url_display%}"><a href="{%url%}" target="_blank">({%url%})</a><br></small>
    </div>

</div>